.tableAnimeContent, .tableAnimeContent th, .tableAnimeContent td {
    border: 1px solid black;
    color: black;
}
.tableAnimeContent {
    width: 80%;
    margin: 20px auto;
}
.btn-edit-table{
    background: linear-gradient(0deg, rgb(9, 97, 14) 0%, rgb(19, 112, 7) 100%);
}
.btn-edit-table:hover, .btn-edit-table:hover {
    background: linear-gradient(0deg, rgb(3, 136, 25) 0%, rgb(47, 175, 21) 100%);
}

.btn-delete-table{
    background: linear-gradient(0deg, rgb(88, 3, 3) 0%, rgb(95, 2, 2) 100%);
}
.btn-delete-table:hover, .btn-delete-table:hover {
    background: linear-gradient(0deg, rgb(202, 4, 4) 0%, rgb(214, 6, 6) 100%);;
}