:root {
  --platinum: #eaeaeaff;
  --periwinkle: #cbc5eaff;
  --pomp-and-power: #73628aff;
  --delft-blue: #313d5aff;
  --gunmetal: #183642ff;
}

*,
*::before,
*::after {
box-sizing: border-box;
margin: 0;
padding: 0;
font-family: open sans,sans-serif;
}

body {
  background-color: var(--gunmetal);
  text-align: center;
  padding: 10px;
}
main {
  margin-top:20px;
}
.title {
  color: var(--platinum);
  font-size: 3em;
}

body {
  color: blue;
}
/*Sobreescribir estilo de todos los links en botones.*/
a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}