div[class="formGroup"]>img  {
    display: block;
    margin: 10px auto;
    width: 250px;
    height: 250px;
}

.dataToModify {
display: flex;
flex-direction: column;
color: var(--platinum); 
margin-bottom: 50px;
align-items: center;
font-size: 1.25em;
}

.formGroup {
width: 600px;
margin: 0.4rem;
display:flex;
}

.formGroup > label {
display: inline-block;
width: 300px;
margin-right: 1rem;
text-align: left;
font-weight: bold;
}

.formGroup > input {
flex: 1;
}

.sectionEdit {
position: relative;
width: 95%;
height: 600px;
}

.sectionEdit > h1 {
margin-bottom: 10%;
text-align: center  ;
}